body {
	background-color:#14aafd;
}

img {
	height:50px;
	width:50px;
}

#header {
	top: -10px;
	background-color: black;
}

#header li {
	display:inline;
}

header ul{
	position: fixed;
	margin: -10px;
}
