body {
	background-color:white;
}

#header img {
	height:50px;
	width:50px;
	vertical-align:middle
}

#header {
	background-color:#37393d;
	color:#14a5fd;
	margin:-20px -10px 0px -10px;
	padding:15px 0px 2px 10px;
}

#header li {
	display:inline;
	margin-right:8%;
}

#about table {
	margin:4% 12% 4% 12%;
	font-family:Comic Sans MS;
}

#about td {
	padding:50px;
}

#about img {
	height:200px;
	width:200px;
}
