

#header {
  font-family:Verdana;
  background:black;
  color:#14aafd;
  position:fixed;
}

#header > span {
  fonts-size:28px;
  text-align:left;
}

#header > ul {
  list-style-type:none;
  display:inline;
  text-align:right;
}

#header > ul > li {
  display:inline;
}
